<foorer class="mfooter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<hr>
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<nav>
							<ul class="menu">
								{{{MAINMENU}}}
							</ul>
						</nav>
					</div>
					<div class="col-md-5 col-sm-5">
						<div class="powered_by">
							Developers <a href="https://lisk-ua.net/" target="_blank" title="Delegate ShineKami">ShineKami</a> and <a href="https://forum.lisk.io/viewtopic.php?f=48&t=1245" target="_blank" title="Delegate olejegcord">olejegcord</a>
							Modificaciones para Sauco Platform por lstarkgv - sauco_oficial 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</footer>